snippet lib "Use a user-defined library"
	library ${1}
	use $1.${2}

snippet libs "Use standard IEEE libraries"
	library IEEE;
	use IEEE.std_logic_1164.all;
	use IEEE.numeric_std.all;

snippet libx "Use Xilinx libraries"
	library UNISIM;
	use UNISIM.vcomponents.all;

snippet ent "Entity"
	entity ${1:`vim_snippets#Filename()`} is
		generic (
			${2}
		);
		port (
			${3}
		);
	end entity $1;

snippet pac "Package declaration"
	 package ${1:`vim_snippets#Filename()`} is
		generic (
			${2}
		);

		${3}
	end package $1;

snippet arc "Architecture"
	architecture ${1:behav} of ${2:`vim_snippets#Filename()`} is

		${3}

	begin


	end $1;

## Declarations
snippet sl "std_logic"
	std_logic
snippet slv "std_logic_vector"
	std_logic_vector(${1:n} downto ${2:0})
snippet ge "Generic-like format, name : type"
	${1:NAME} : ${2:std_logic};
snippet si "signal"
	signal ${1:signal_name} : ${2:std_logic};
snippet io "input/output"
	${1:name} : ${2: in} ${3:std_logic};

## Process Statements
snippet pr "Bare process"
	process (${1:sensitivity list})
	begin
		${2}
	end process;

snippet prc "Process with clock"
	process (${1:clk})
	begin
		if rising_edge ($1) then
			${2}
		end if;
	end process;

snippet prcr "Process with clock and reset"
	process (${1:clk}, ${2:nrst})
	begin
		if ($2 = '${3:0}') then
			${4}
		elsif rising_edge($1) then
			${5}
		end if;
	end process;

snippet pra "Process all"
	process (${1:all})
	begin
		${2}
	end process;

## Control Statements
snippet if "If statement"
	if ${1} then
		${2}
	end if;

snippet ife "If-else statement"
	if ${1} then
		${2}
	else
		${3}
	end if;

snippet el "Else statement"
	else
		${1}

snippet eif "Elsif statement"
	elsif ${1} then
		${2}

snippet ca "Case statement"
	case ${1} is
		${2}
	end case;

snippet wh "When statement"
	when ${1} =>
		${2}

snippet for "For loop"
	for ${1:i} in ${2} ${3:to} ${4} loop
		${5}
	end loop;

snippet wh "While loop"
	while ${1} loop
		${2}
	end loop;

## Misc
snippet oth "Others"
	(others => '${1:0}');
